html, div, form, body {
/*	display: block; */
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* img {
	display: block;
} */

p {
/*	display: block; */
	margin: 10px 0 15px 0;
}

center {
/*	display: block; */
	text-align: -moz-center;
}

h1 {
/*	display: block; */
	font-size: 66px;
	font-weight: bold;
	margin: .67em 0;
}
 
h2 {
/*	display: block; */
	font-size: 56px;
	margin: .83em 0;
}

h3 {
/*	display: block; */
	font-size: 45px;
	margin: 1em 0;
}

h4 {
/*	display: block; */
	font-weight: bold;
	margin: 1.33em 0;
}