@font-face{
    font-family: myriadpro;
    src: url(fonts/MyriadPro-Regular.otf);
}
html,body{
    font-family: myriadpro;
}

#window{
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;	
    position: fixed;
    font-family: myriadpro;
    z-index: -1;
}
#overall #window{
    background: url(bg/overall.jpg) no-repeat center center fixed; 
}
#roadsweeper #window{
    background: url(bg/roadsweeper.jpg) no-repeat center center fixed; 
}
#accounts #window{
    background: url(bg/account.jpg) no-repeat center center fixed; 
}
#telesales #window{
    background: url(bg/telesales.jpg) no-repeat center center fixed; 
}

#table{width: 1441px;display: inline-block;border-radius: 0 72px 0 0 / 0 138px 0 0;height: 723px;}
#table .row{width: 3462px;font-size: 3rem;display: block;height: 150px;margin-bottom: 3px;float: right;margin-right: 175px;}
#table .row .column{width: 100px;float: right;margin-left: 3px;display: table-cell;text-align: center;color: white; height:150px;margin-bottom: 0px;line-height: 150px;font-size: 50px;font-weight: bold;text-shadow: 5px 5px 10px black;}
#table .row .columnextra{width: 280px;float: right;margin-left: 3px;display: table-cell;text-align: center;color: white; height:150px;margin-bottom: 0px;line-height: 150px;font-size: 50px;font-weight: bold;text-shadow: 5px 5px 10px black;}
#table .row#week{margin-bottom: 0px;}

#table .row .column.gold{background:rgba(233,176,0,0.9);}
#table .row .column.green{background:rgba(0,143,149,0.9);}
#table .row .column.orange{background:rgba(80,80,80,0.9);}
#table .row .column.red{background:rgba(226,78,66,0.9);}
#table .row .column.blue{background:rgba(51,122,183,0.9);}
#key .gold{background:rgba(233,176,0,0.9);}
#key .green{background:rgba(0,143,149,0.9);}
#key .orange{background:rgba(255,103,0,0.9);}
#key .red{background:rgba(226,78,66,0.9);}
#key .blue{background:rgba(51,122,183,0.9);}

#table .row .column.heading {
    width: 171px;
    margin:0;
    line-height: 640px;
    font-size: 40px;
}
div#column-headings {
    font-size: 2rem;  
    height: 70px;
    width: 1441px;
    background: rgba(0,0,0,0.6);
    float: right;
    margin-bottom: 2px;
    padding-left: 1000px;
    margin-top: 53px;
	
}

#column-headings .column {
    width: 280px;  
    float: left;  
    display: table-cell;  
    text-align: center;  
    color: white;  
    margin-bottom: 1px;  
    line-height: 100px;  
    height: 35px;
    font-family: myriadpro;
}

.sideheading {
    float: right;
    width: 175px;
    position: relative;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    /* height: 723px; */
    /* left: 100%; */
}
.day.column.heading {
    height: 150px;
    margin-bottom: 3px;
    background: rgba(0,0,0,0.6);
    color: white;
}
.day.column.heading:last-child {
    margin-bottom: 0px;
}
#tableTop{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 1441px;
    height: 902px;
    clip-path: circle(1847px at center);
    -webkit-clip-path: circle(1771px at center);
    padding-right: 150px;
}
#boardBanner{
    width: 1040px;
    float: right;
}
#boardHeader{
    text-align: center;
    background: black;
}
#boardHeader h1{
    font-size: 32px;
    margin: 0;
    color: yellow;
    letter-spacing: 2px;
    width: 806px;
    padding-bottom: 0px;
    padding-top: 2px;
    line-height: 46px;
    font-weight: normal;
    margin-top: -4px;
}
#key{
    margin-left: 3px;
}
#key span{
    width: 190px;
    display: inline-block;
    margin-left: -3px;
    font-style: italic;
    padding-left: 10px;
    line-height: 20px;
    padding-bottom: 1px;
    padding-top: 4px;
    font-size: 18px;
}
#key span.gold{
    width: 429px;
}
#key span.key {
    position: absolute;
    right: 0;
    width: 220px!important;
    font-style: normal!important;
}
.caption {
    font-size: 30px;
    position: relative;
    top: 100%;
    transform: translateY(-112%);
    -webkit-transform: translateY(-112%);
    margin-left: 10px;
    letter-spacing: 2px;
}
.yellText{
    color: rgb(255,227,0);
    margin-left: 10px;
}
.date{
    letter-spacing: 1px;
}
.bold{
    font-weight: bold;
    letter-spacing: 2px;
}
.ltspc{
    letter-spacing: 1px;
}
#logo{
    display: inline-block;
    position: absolute;
    /* transform: translateY(35%) translateX(-7%); */
    /* -webkit-transform: translateY(35%) translateX(-7%); */
    top: 0px;
    left: -14px;
}
@media only screen and (max-height: 920px){
    #tableTop{
        top: 0px;
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}
/* PHONE LANDSCAPE VERSION */
@media only screen and (max-device-height: 320px) and (orientation : landscape) {
    #table .row .column:last-child{
        padding-left: 1000px!important;
    }
    div#column-headings {
        padding-left: 1000px!important;
    }
    .day.column.heading:last-child {
        margin-bottom: 0px;
    }
    #tableTop{
        transform: translateY(-50%) scale(0.35)  translateX(-1440px);
        -webkit-transform: translateY(-50%) scale(0.35)  translateX(-1440px);
    }
    #key span{
        line-height: 64px;
        font-size: 40px;
    }
}
/* PHONE PORTRAIT VERSION */
@media only screen and (min-device-width :320px) and (max-device-width :480px) and (orientation: portrait),only screen and (min-device-height:320px) and (max-device-height:480px),only screen and (-webkit-min-device-pixel-ratio:1.5) and (max-device-width:960px){

    #table{width: 1119px;}
    #table .row{width: 3341px;}
    #table .row .column{width: 260px;font-size: 130px;}

    #table .row .column:last-child{
        padding-left: 1000px!important;
    }
    div#column-headings {
        font-size: 25px;  
        width: 1051px;
        padding-left: 100px!important;
    }
    #column-headings .column {
        width: 260px;  
        text-align: right;  
    }
    #tableTop{
        transform: translateY(-50%) scale(0.35)  translateX(-1132px);
        -webkit-transform: translateY(-50%) scale(0.35)  translateX(-1132px);
        width: 1119px;
        padding-right: 0;
        left: 30px!important;
		top: 50%;
    }
    #boardBanner{
        width: 1021px;
    }
    #key span{
        width: 200px;
        line-height: 64px;
        font-size: 36px;
    }
    #key span.gold{
        width: 375px;
    }
    #logo{
        left: 65px;
    }
}