body {
	background-color: white;
	font-size: 12px;
	font-family: Arial, Sans-Serif;
	color:#000;
}

a { text-decoration: none; }

table th a:link { color: #FFFFFF; border-bottom: 1px dashed orange }
table th a:visited { color: #FFFFFF; border-bottom: 1px dashed orange }
table th a:hover { color: orange; border-bottom: 1px solid orange }
table th a:active { color: orange; border-bottom: 1px solid orange }

table th {
	background: url("../images/grd_head.png") repeat-x scroll center top #424242;
	border-right: 1px solid #525252;
	font-size: 13px;
	color: #FFFFFF;
	padding: 4px 2px;
}

.tbljobs {
	border: 1px solid black;
	border-collapse: collapse;
}

.tbljobs td {
	border: 1px solid #F15C23;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	word-wrap: break-word;
}

.tbljobstoday {
	border: 1px solid black;
	border-collapse: collapse;
}

.tbljobstoday td {
	border: 1px solid #F15C23;
	font-size: 30px;
	padding: 2px 10px 2px 10px;
	word-wrap: break-word;
}

.tbljobstoday th {
	font-size: 25px;
}

.tblapps {
	border: 1px solid black;
	border-collapse: collapse;
}

.tblapps td {
	border: 1px solid #0066CC;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	word-wrap: break-word;
}

.tblcancelled {
	border: 1px solid black;
	border-collapse: collapse;
}

.tblcancelled td {
	border: 1px solid #990000;
	font-size: 12px;
	padding: 2px;
	text-align: center;
	word-wrap: break-word;
}

td {
	padding: 7px;
}

.tr1 {
	background-color: #FFCC00;
}

.tr0 {
	background-color: #FF9900;
}

#input { font-size: 18px; }

#input td { border: 0px; }

#log_in_box {
	text-align: center;
}

#view_reports {
	text-align: center;
}

#reports {
	margin-left:50px;
	font-size: 18px;
}

#tab-10 {
	margin-left: -10px;
}

h3 {
	text-align: center;
	margin: 10px;
}

.job_text {
	font-size: 106px; 
}
	
img.mid {
	display: block;
    margin-left: auto;
    margin-right: auto; 
}

#container {
	width: 95%;
	margin: 0 auto;
}

#header {
	font-size: 56px;
	padding: 10px;
}

#message {
	font-size: 10px;
	margin: 10px 0 0 50px;
	color: black;
	font-weight: bold;
}

select {
	font-size:30px; 
	height:40px;
	}

input{
	font-size: 30px; 
	height: 34px;
}
	
#headings { 
	height: 80px;
	width: 1500px;
	padding-top: 20px; 
}

input.btn {
	height: 26px;
	font: bold 110% 'trebuchet ms', helvetica, sans-serif;
}