html, body {
	padding: 0;
	margin: 0;
	font-family: 'Arial Unicode MS' , SunSans-Regular, Sans-Serif;
	font-size: 36px;
	font-weight: bold;
	color: black;
}

.clear {
	clear: both;
}

.clear5 {
	clear: both;
	height: 5px;
}

#container {
	width: 1360px;
	height: 768px;
	background: url(../images/background.jpg) no-repeat;
	position: relative;
}

#headings {
	position: relative;
	height: 73px;
	font-weight: bold;
}

#h_day {
	position: absolute;
	width: 243px;
	text-align: center;
	bottom: 0px;
	left: 345px;
	padding-bottom: 10px;
}

#h_week {
	position: absolute;
	width: 324px;
	text-align: center;
	bottom: 0px;
	padding-bottom: 10px;
	left: 638px;
}

#h_total {
	position: absolute;
	width: 324px;
	text-align: center;
	bottom: 0px;
	padding-bottom: 10px;
	left: 981px;
}

.label {
	width: 325px;
	float: left;
	text-align: right;
	padding: 25px 20px 0 0;
}

.label_small {
	width: 325px;
	float: left;
	text-align: right;
	padding: 0 20px 0 0;
}

.label2_small {
	float: left;
	text-align: right;
	padding: 0 0 0 20px;
}

#jobs {
	height: 100px;
	margin: 5px 0;
}

#jobs_today {
	float: left;
	height: 100px;
}

#jt {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#jt img {
	height: 100px;
}

#jobs_week {
	float: left;
	height: 100px;
}

#jw {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#jw img {
	height: 100px;
}

#points {
	height: 100px;
	margin: 5px 0;
}

#points_today {
	float: left;
	height: 100px;
}

#pt {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#pt img {
	height: 100px;
}

#points_small {
	height: 50px;
	margin: 5px 0;
}

#points_today_small {
	float: left;
	height: 50px;
}

#pt_small {
	width: 38px;
	height: 50px;
	float: left;
	padding-left: 5px;
}

#pt_small img {
	height: 50px;
}

#points_week {
	float: left;
	height: 100px;
}

#pw {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#pw img {
	height: 100px;
}

#points_week_small {
	float: left;
	height: 50px;
}

#pw_small {
	width: 38px;
	height: 50px;
	float: left;
	padding-left: 5px;
}

#pw_small img {
	height: 50px;
}

#appointments { 
	height: 100px;
	margin: 5px 0;
}

#appointments_today {
	float: left;
	height: 100px;
}

#at {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#at img {
	height: 100px;
}

#appointments_week {
	float: left;
	height: 100px;
}

#aw {
	width: 76px;
	height: 100px;
	float: left;
	padding-left: 5px;
}

#aw img {
	height: 100px;
}
