html, body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 11px;
	font-family: 'Arial Unicode MS' , SunSans-Regular, Sans-Serif;
	color:#564b47;
	padding:0;
	margin:0;
	color: black;
	background: orange;
}
h1 {
	font-size: 66px; 
	font-weight: bold;
}
h2 {
	font-size: 86px; 
}
h3 {
	font-size: 66px; 
}
.job_text {
	font-size: 106px; 
}

#container {
	min-width: 1899px;
	margin-bottom: 0px;
	margin: 0 auto;
	height: 1008px;
	background: url(../images/screen1.jpg) no-repeat;
}
#headings { 
	height: 130px;
	width: 1649px;
	padding-top: 0px; 
	margin-left: 0px;
	clear: both;
	margin-left: 250px;
	border: 0px solid white;
}
#h_label {
	height: 80px;
	width: 380px;
	float: left;
	border: 0px solid white;
}
#h_day {
	height: 80px;
	width: 500px;
	float: left; 
	text-align: center;
	vertical-align: top;
	border: 0px solid;
	border: 0px solid white;
}

#top_logo {
	height: 80px;
	width: 120px;
	float: left; 
	border: 0px solid white;
}
#h_week {
	height: 80px;
	width: 500px;
	margin-left: 0px;
	float: left;
	text-align: center;
	border: 0px solid;
	float: left; 
	border: 0px solid white;
}
#jobs { 
	height: 240px;
	width: 1820px;
	margin-top: 60px;
	clear: both; 
	border: 0px solid white;
}
#jobs_label {
	height: 200px;
	width: 560px;
	margin-left: 0px;
	float: left; 
	border: 0px solid black;
	text-indent: 30px;
	text-align: right;
}
#jobs_today { 
	height: 200px;
	width: 600px;
	float: left; 
	margin-right: 20px;
}
#jt {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#jobs_week { 
	height: 200px;
	width: 600px;
	float: left; 
	}
#jw {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
	float: left;
}

#points { 
	height: 240px;
	width: 1820px;
}
#points_label {
	height: 200px;
	width: 560px;
	margin-left: 0px;
	float: left;
	text-indent: 30px;
	text-align: right;
}
#points_today { 
	height: 200px;
	width: 600px;
	float: left;
	margin-right: 20px;
}
#pt {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#points_week { 
	height: 200px;
	width: 600px;
	float: left;
}
#pw {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#appointments { 
	height: 200px;
	width: 1820px;
	clear: both;
}
#appointments_label {
	height: 230px;
	width: 560px;
	margin-left: 0px;
	float: left; 
	text-indent: 30px;
	text-align: right;
}
#appointments_today { 
	height: 200px;
	width: 600px;
	float: left; 
	margin-right: 20px;
}
#at {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#appointments_week { 
	height: 200px;
	width: 600px;
	float: left;
}
#aw {
	height: 200px;
	width: 115px;
	float: left;
	margin-top: 40px;
	margin-left: 30px;
}

#footer {
	height: 66px;
	width: 1820px;
	clear: both;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#bl_logo {
	height: 66px;
	width: 200px;
	float: left; 
	margin-left: 170px;
}
#banner {
	width: 700px; 
	height: 68px; 
	text-align: center;
	padding: 0px;
	margin: 0px;
	float: left; 
}
#br_logo {
	height: 66px;
	width: 200px;
	float: left; 
}
#update { 
	height: 500px;
	width: 1820px;
	margin-top: 100px; 
	font-size: 26px; 
	clear: both;
	background-color: silver;
}

.panel-red > .panel-heading-custom {
background: #E24E42; color: #fff; }

.panel-yellow > .panel-heading-custom {
background: #E9B000; color: #fff; }

.panel-green > .panel-heading-custom {
background: #008F95; color: #fff; }

.panel-orange > .panel-heading-custom {
background: #ecf0f1; color: #FB6B02; } 

.panel-body.panel-bodyOne {
background:#C93756;
}
.panel-body.panel-bodyTwo {
background:#34495e;
}
.panel-body.panel-bodyThree {
background:#26A65B;
}