body {
	background-color: grey;
	font-size: 11px;
	font-family: 'Arial Unicode MS' , SunSans-Regular, Sans-Serif;
	color:#564b47;
	padding:0;
	margin:0;
	color: black;
}
h1 {
	font-size: 66px; 
	font-weight: bold;
}
h2 {
	font-size: 86px; 
}
h3 {
	font-size: 66px; 
}
.job_text {
	font-size: 106px; 
}
	

#container {
	width: 1899px;
	margin-bottom: 0px;
	margin: 0 auto;
	height: 1008px;
	background-image: url('/images/screen1.jpg');
	backgroud-repeat: no repeat; 
}
#headings { 
	margin-top: 90px;
	height: 80px;
	width: 1649px;
	padding-top: 0px; 
	margin-left: 0px;
	clear: both;
	margin-left: 250px;
	border: 0px solid white;
}
#h_label {
	height: 80px;
	width: 380px;
	float: left;
	border: 0px solid white;
}
#h_day {
	height: 80px;
	width: 500px;
	float: left; 
	text-align: center;
	vertical-align: top;
	border: 0px solid;
	border: 0px solid white;
}

#top_logo {
	height: 80px;
	width: 120px;
	float: left; 
	border: 0px solid white;
}
#h_week {
	height: 80px;
	width: 500px;
	margin-left: 0px;
	float: left;
	text-align: center;
	border: 0px solid;
	float: left; 
	border: 0px solid white;
}
#jobs { 
	height: 200px;
	margin-left: 250px;
	width: 1800px;
	margin-top: 50px;
	clear: both; 
}
#jobs_label {
	height: 200px;
	width: 380px;
	margin-left: 0px;
	float: left; 
	border: 0px solid black;
	text-indent: 30px;
	text-align: left;
}
#jobs_today { 
	height: 200px;
	width: 500px;
	float: left; 
	background-image: url('/images/green.jpg');
	background-repeat: no-repeat;
}
#latest_job {
	height: 200px;
	width: 120px;
	float: left;
}
#jt1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	float: left; 
	border: 0px solid black;
}
#jt2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	float: left; 
	border: 0px solid black;
}
#jt3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	float: left; 
	border: 0px solid black;
	
}
#jobs_week { 
	height: 200px;
	width: 500px;
	border: 0px solid black; 
	float: left; 
	background-image: url('/images/green.jpg');
	background-repeat: no-repeat;
	}

#jw1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	float: left; 
}
#jw2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	float: left; 
}
#jw3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	float: left; 
}

#points { 
	height: 200px;
	width: 1800px;
	margin-left: 250px;
}
#points_label {
	height: 200px;
	width: 380px;
	margin-left: 0px;
	float: left; 
	text-indent: 30px;
}
#points_today { 
	height: 200px;
	width: 500px;
	float: left; 
	background-image: url('/images/red.jpg');
	background-repeat: no-repeat;
}
#pt1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
#pt2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#pt3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#latest_points {
	height: 200px;
	width: 120px;
	float: left;
}
#points_week { 
	height: 200px;
	width: 500px;
	float: left; 
	background-image: url('/images/green.jpg');
	background-repeat: no-repeat;
}
#pw1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
#pw2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#pw3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#appointments { 
	height: 200px;
	width: 1800px;
	clear: both;
	margin-left: 250px;

}
#appointments_label {
	height: 200px;
	width: 380px;
	margin-left: 0px;
	float: left; 
	text-indent: 30px;
}
#appointments_today { 
	height: 200px;
	width: 500px;
	float: left; 
	background-image: url('/images/orange.jpg');
	background-repeat: no-repeat;	
}
#at1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
#at2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#at3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#latest_appointment {
	height: 500px;
	width: 120px;
	float: left;
}
#appointments_week { 
	height: 200px;
	width: 500px;
	float: left; 
	background-image: url('/images/special.jpg');
	background-repeat: no-repeat;
	
}
#aw1 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}
#aw2 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#aw3 {
	height: 200px;
	width: 151px;
	float: left;
	margin-top: 25px;
}
#footer {
	height: 66px;
	width: 1800px;
	clear: both;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#bl_logo {
	height: 66px;
	width: 200px;
	float: left; 
	margin-left: 170px;
	
	
}
#banner {
	width: 700px; 
	height: 68px; 
	text-align: center;
	padding: 0px;
	margin: 0px;
	float: left; 
}
#br_logo {
	height: 66px;
	width: 200px;
	float: left; 
}
#update { 
	height: 500px;
	width: 1800px;
	margin-top: 100px; 
	font-size: 26px; 
	clear: both;
	background-color: silver;
}
